aiogram==2.11.2
aiohttp==3.7.3
async-timeout==3.0.1
attrs==20.3.0
Babel==2.9.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==3.0.4
emoji==0.6.0
future==0.18.2
idna==2.10
kinopoiskpy==0.8.2
lxml==4.6.2
multidict==5.1.0
pyTelegramBotAPI==3.7.4
python-dateutil==2.8.1
pytz==2020.4
requests==2.25.0
selenium==3.141.0
simplejson==3.17.2
six==1.15.0
soupsieve==2.1
typing-extensions==3.7.4.3
urllib3==1.26.2
urlopen==1.0.0
xmltodict==0.12.0
yarl==1.6.3
